// CAMBIO DE SECCIONES
const links = document.querySelectorAll("nav ul li a");
const pages = document.querySelectorAll(".page");

links.forEach(link => {
  link.addEventListener("click", e => {
    e.preventDefault();

    const id = link.getAttribute("href").substring(1);

    pages.forEach(p => p.classList.remove("show"));
    document.getElementById(id).classList.add("show");
  });
});

// CARRITO
let total = 0;
const totalHTML = document.getElementById("total");

document.querySelectorAll("button[data-precio]").forEach(btn => {
  btn.addEventListener("click", () => {
    total += Number(btn.dataset.precio);
    totalHTML.textContent = total;
  });
});
