/* PALETA */
:root {
  --principal: #5F2119;   /* Philippine Brown */
  --falu: #702220;
  --quincy: #6C5141;
  --beaver: #A28C75;
  --vanilla: #D7C1A8;
}

/* GENERAL */
body {
  margin: 0;
  font-family: Georgia, serif;
  background: var(--vanilla);
  color: var(--principal);
}

/* HEADER */
header {
  background: var(--principal);
  padding: 20px 0;
  text-align: center;
  color: white;
}

nav {
  margin-top: 10px;
}

nav a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

/* TRANSICIÓN */
.page {
  opacity: 0;
  visibility: hidden;
  transform: translateY(20px);
  transition: all 0.5s ease;
  padding: 30px;
}

.page.show {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

/* GALERÍA */
.galeria {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}

.galeria img {
  width: 100%;
  border: 3px solid var(--principal);
  border-radius: 6px;
}

/* STORE */
.productos {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.item {
  background: var(--beaver);
  padding: 15px;
  border-radius: 8px;
  width: 160px;
  text-align: center;
  color: black;
}

.item img {
  width: 100%;
  border-radius: 8px;
}

button {
  background: var(--falu);
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 6px;
  cursor: pointer;
}
