/* PALETA */
:root {
    --primary: #5F2119;
    --secondary: #A28C75;
    --light: #D7C1A8;
    --dark: #6C5141;
    --accent: #702220;
}

/* GENERAL */
body {
    margin: 0;
    font-family: "Georgia";
    background: var(--light);
    color: var(--primary);
}

/* NAV */
nav {
    background: var(--primary);
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    display: inline-block;
    margin: 0 20px;
    color: white;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}

nav li:hover {
    color: var(--light);
}

/* SECCIONES */
.section {
    display: none;
    opacity: 0;
    padding: 40px;
    text-align: center;
    transition: opacity 0.6s ease-in-out;
}

.section.show {
    display: block;
    opacity: 1;
}

/* GALERÍA (SLIDER) */
.slider {
    width: 70%;
    margin: auto;
    position: relative;
}

.slides img {
    width: 100%;
    border-radius: 10px;
    display: none;
}

.slides img.active {
    display: block;
}

.dots {
    text-align: center;
    margin-top: 15px;
}

.dot {
    height: 12px;
    width: 12px;
    margin: 5px;
    display: inline-block;
    background: var(--secondary);
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s;
}

.dot.active {
    background: var(--primary);
}

/* PRODUCTOS */
.product {
    display: inline-block;
    background: white;
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
    width: 200px;
    box-shadow: 0px 3px 10px rgba(0,0,0,0.2);
}

.product img {
    width: 100%;
    border-radius: 10px;
}

button {
    padding: 10px;
    background: var(--primary);
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background: var(--accent);
}

/* CARRITO */
#cart-btn {
    position: fixed;
    right: 20px;
    bottom: 20px;
    background: var(--primary);
    color: white;
    padding: 12px;
    border-radius: 50%;
    cursor: pointer;
}

#cart {
    display: none;
    position: fixed;
    right: 10px;
    bottom: 80px;
    background: white;
    padding: 20px;
    width: 220px;
    border-radius: 10px;
    box-shadow: 0px 3px 10px rgba(0,0,0,0.3);
}

/* CHATBOT */
#chatbot-icon {
    position: fixed;
    left: 20px;
    bottom: 20px;
    background: var(--primary);
    color: white;
    padding: 12px;
    border-radius: 50%;
    cursor: pointer;
}

#chatbot {
    display: none;
    position: fixed;
    left: 20px;
    bottom: 80px;
    background: white;
    width: 220px;
    height: 250px;
    border-radius: 10px;
    padding: 10px;
    overflow: hidden;
    box-shadow: 0px 3px 10px rgba(0,0,0,0.3);
}

#chat-content {
    height: 200px;
    overflow-y: auto;
}

#chat-input {
    width: 100%;
    border: 1px solid var(--primary);
    padding: 5px;
    border-radius: 5px;
}
